h1, p {
  font-family: Lato;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


#mainContain {
	background:white;
	color: rgb(10, 2, 2);
}

.txtBox{

  margin-left: 85px;
    border-radius: 5px;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* padding: 16px; */
    text-align: left;
    background-color: #f1f1f1;
    margin: 5px;
    height:200px;
    width: 300px;
    border-radius: 5px;
    font-family:  sans-serif;
    
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card-header {
   
    margin-bottom: 0;
    padding: 6px;
    border-bottom: 1px solid rgba(0,0,0,.125);    
    font-weight: bold;
    text-align: left;
    background-color: #4D148C;
    color: white;
    font-family: sans-serif; 
    font-size: medium;   
    border-radius: 3px; 
    
}

.fxeColor{
  color:orange
  
}

.fxgColor{
  color:#18f118
}
.fxfColor{
  color:red
}

.headerP{
  text-align: center;
    background-color: #4D148C;
    height: 50px;
        padding: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 22pt;
    border-radius: 3px;
}
.headerBox{
  text-align: center;
    background-color: #4D148C;
    color: white;
    font-family: sans-serif;
    font-size: 22pt;
    border-radius: 3px;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 0.5px solid #555353;
    overflow: hidden;
    float: right;
  margin: 1em;
}

.headerg{
  text-align: center;
    background-color: rgb(211, 175, 250);
    height: 50px;
        padding: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 14pt;
    border-radius: 3px;
}